{% extends 'shopbase.html' %}

{% block styling %}
  {% load static %}
  <link href="{% static 'shop/shop.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
  <div class="hero-image" id="banner-img">
    <div class="hero-text">
      <h1>You're Welcome to our Prestiged Shop</h1><br>
      <p>What would you like to buy?</p>
    </div>
  </div>
  <div id="myNav" class="mobilenav">

      <!-- Button to close the overlay navigation -->
      <a href="javascript:void(0)" class="closebtn" onclick="closeMobileNav()">&times;</a>

      <!-- Overlay content -->
      <div class="navcontent">
        <div id="accordion">
          <ul class="shopnav">
            <li href="#" class="nav-item">
              <a class="dropdown-toggle"  href="#" role="button" data-toggle="collapse" data-target="#collapseExample1" aria-expanded="true" aria-controls="#collapseExample1">
                <i class="fas fa-laptop-house"></i><span class="spacein"></span>Home Appliances
              </a>
              <div class="collapse" id="collapseExample1" data-parent="#accordion">
                <ul class="">
                  <li><a> LG </a></li>
                  <li><a> Samsung </a></li>
                  <li><a> Thermocool </a></li>
                  <li><a> SONY </a></li>
                  <li><a> WESTGATE </a></li>
                </ul>
              </div>
            </li> 
            <li href="#" class="nav-item">
              <a class="dropdown-toggle"  href="#" role="button" data-toggle="collapse" data-target="#collapseExample2" aria-expanded="true" aria-controls="#collapseExample2">
                <i class="far fa-building"></i><span class="spacein"></span>Office Appliances
              </a>
              <div class="collapse" id="collapseExample2" data-parent="#accordion">
                <ul class="">
                  <li><a> HP </a></li>
                  <li><a> Samsung </a></li>
                  <li><a> Thermocool </a></li>
                  <li><a> Lenovo </a></li>
                  <li><a> Haier </a></li>
                </ul>
              </div>
            </li> 
            <li href="#" class="nav-item">
              <a class="dropdown-toggle"  href="#" role="button" data-toggle="collapse" data-target="#collapseExample3" aria-expanded="true" aria-controls="#collapseExample3">
                <i class="far fa-file-code"></i><span class="spacein"></span>Developer Tools
              </a>
              <div class="collapse" id="collapseExample3" data-parent="#accordion">
                <ul class="">
                  <li><a> Customized Keyboards </a></li>
                  <li><a> Premium Programming Languages </a></li>
                  <li><a> Datasets </a></li>
                  <li><a> Inspiration </a></li>
                  <li><a> Dev Quotes </a></li>
                </ul>
              </div>
            </li> 
            <li href="#" class="nav-item">
              <a class="dropdown-toggle"  href="#" role="button" data-toggle="collapse" data-target="#collapseExample4" aria-expanded="true" aria-controls="#collapseExample4">
                <i class="fas fa-mobile-alt"></i><span class="spacein"></span>Mobile Phones and Laptops
              </a>
              <div class="collapse" id="collapseExample4" data-parent="#accordion">
                <ul class="">
                  <li><a> Samsung </a></li>
                  <li><a> Iphone </a></li>
                  <li><a> Huawei </a></li>
                  <li><a> Xiaomi </a></li>
                  <li><a> Infinix </a></li>
                </ul>
              </div>
            </li> 
            <li href="#" class="nav-item">
              <a class="dropdown-toggle"  href="#" role="button" data-toggle="collapse" data-target="#collapseExample5" aria-expanded="true" aria-controls="#collapseExample5">
                <i class="fas fa-desktop"></i><span class="spacein"></span>Desktops and Laptops
              </a>
              <div class="collapse" id="collapseExample5" data-parent="#accordion">
                <ul class="">
                  <li><a> HP </a></li>
                  <li><a> Imac </a></li>
                  <li><a> Lenovo </a></li>
                  <li><a> Acer </a></li>
                  <li><a> Alienware </a></li>
                </ul>
              </div>
            </li> 
            <li href="#" class="nav-item">
              <a class="dropdown-toggle"  href="#" role="button" data-toggle="collapse" data-target="#collapseExample6" aria-expanded="true" aria-controls="#collapseExample6">
                <i class="fas fa-tools ictop fa-xs" data-fa-transform="up-6"></i>
                <i class="fas fa-mobile-alt icnorm"></i><span class="spacein"></span>Refurbished Products
              </a>
              <div class="collapse" id="collapseExample6" data-parent="#accordion">
                <ul class="">
                  <li><a> Phones and Tablets </a></li>
                  <li><a> Laptops and Desktops </a></li>
                  <li><a> Office Appliances </a></li>
                  <li><a> Home Appliances </a></li>
                  <li><a> Living Cells </a></li>
                </ul>
              </div>
            </li> 
          </ul>
        </div>
      </div>
    </div>

    <!-- Use any element to open/show the overlay navigation menu -->
    <div class="navstrip" id="mobilestick">
      <a href="javascript:void(0)" onclick="openMobileNav()" class="open_button">&#9780</a> <h3>CartIT</h3>
    </div>

  <div class="lapcontainer" id="lapgoods">
    <div class="lapnav">
      
    </div>
    <div class="goods lapit" id="">
      {% for product in all_products %}
        <div class="item-card">
          <span class="img_holder">
            <img src="{{ product.id_image.url }}">
          </span>
          <h3>{{ product.name }}</h1>
          <p>{{ product.product_info | safe }}</p>
          <button><a href="{% url 'product_details' product.id %}">Buy</a></button>
        </div>
      {% endfor %}
    </div>
  </div>
  <div class="mobileshow lapshow">
    <!-- The overlay -->
    

    <div class="goods" class="lapcontent" id="laptent">
      {% for product in all_products %}
        <div class="item-card">
          <span class="img_holder">
            <img src="{{ product.id_image.url }}">
          </span>
          <h3>{{ product.name }}</h1>
          <p>{{ product.product_info | safe }}</p>
          <button><a href="{% url 'product_details' product.id %}">Buy</a></button>
        </div>
      {% endfor %}
    </div>
  </div>

  {% block js %}
    <script src="{% static 'shop/shop.js' %}">
  {% endblock %}

{% endblock %}
