{% extends 'shopbase.html'%}

{% block styling %}
    {% load static %}
    <link href="{% static 'shop/product_info.css' %}" type="text/css" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="slideshow-container">
        {% for product_image in product_images %}
            <div class="product_slides">
                <img src="{{ product_image.images.url }}">
                <!-- Insert image description in your model if need be -->
            </div>
        {% empty %}
            <img src="{{ product.id_image.url }}" class="slideless_img">
        {% endfor %}
        {% if product_images %}
            <a class="prev" onclick="nextSlide(-1)">&#10094;</a>
            <a class="next" onclick="nextSlide(1)">&#10095;</a>
            {% for image in product_images %}
                <span class="slide_markers">
            {% endfor %}
        {% endif %}
    </div>
    <div class="product_dets">
        <h3>Product Description</h3>
        {{ product.product_info | safe }}
    </div>
{% endblock %}

{% block js %}
    <script src="{% static 'shop/product_info.js' %}"></script>
{% endblock %}