{% extends 'shopbase.html'%}

{% block styling %}
    {% load static %}
    <link href="{% static 'shop/product_info.css' %}" type="text/css" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="slideshow-container">
        {% for image in product_images %}
            <div class="product_slides">
                <img class="slide_img" src="{{ image.url }}">
                <!-- Insert image description in your model if need be -->
            </div>
        {% empty %}
            <h1>No Image</h1>
        {% endfor %}
        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>
    </div>

{% endblock %}
